#tweet-container {

  border-radius:5px;
  margin:1em 2em;

}


 #tweet-container article{
  border:solid #bfbfbf 1px;
  border-radius:5px;
  margin-top: 1em;
  opacity:0.7
 }

 #tweet-container .user_name {
  font-weight:bold;
  font-size:1.5em;
  position: absolute;
  margin-left:.5em;
}

 #tweet-container article footer {
  padding:0.6em 2.5em 0.5em;
  font-size:.75em;
  border-top:solid #bfbfbf 1px;
}

#tweet-container article header {
  border-bottom:solid #bfbfbf 1px;
}

 article img {
  height:50px;
  width:50px;
}
 #tweet-container .user_handle {
  float: right;
}
 #tweet-container div.displayonHover {
  padding:2em 1em;
}


div.displayOnHover{
  float: right;
}
div.displayOnHover img{
  height:1.5em;
  width:1.5em;
}

#tweet-container .displayOnHover{
  opacity:0;
}

#tweet-container article:hover,#tweet-container article:hover .displayOnHover  {
  opacity:1;
}